<div>
  <div>
    <div class="row">
      <div class="col">
        <h6 class="section-title">
          Exchange History
        </h6>
        <div class="input-field">
          <select [(ngModel)]="selectedDays" (ngModelChange)="onDaysChange($event)">
            <option value="7">7 days</option>
            <option value="14">14 days</option>
            <option value="30">30 days</option>
          </select>
          <label>Duration</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <div *ngIf="exchangeHistories?.length==0" class="empty-card">
              No history found!
            </div>
            <table *ngIf="exchangeHistories?.length>0">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Exchange Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cnvrsn of exchangeHistories;let i = index;">
                  <td>{{cnvrsn.timestamp | date:'dd/MM/yyyy'}}</td>
                  <td>{{cnvrsn.rate}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div *ngIf="exchangeHistories?.length>0" class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th>Statistics</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lowest</td>
                  <td>{{stats.low}}</td>
                </tr>
                <tr>
                  <td>Highest</td>
                  <td>{{stats.high}}</td>
                </tr>
                <tr>
                  <td>Average</td>
                  <td>{{stats.average}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>