$primary: #009688;
$accent: #94C720;
$warn:#9B0A14;
$menu_active_background:#C70D38;
$default_text: #404040;
$table_header_text: #8D8D8D;
$page_title_font:48px;
$section_title_font:24px;
$regular_font:16px;