<header>
  <div class="container">
    <div class="row">
      <div class="col logo-brand">
        <a>
          <span><i class="material-icons">find_replace</i></span><span class="logoContent">Currency<b> Exchange</b></span>
        </a>
      </div>
      <ul *ngIf="auth.isLoggednIn()" class="tabs tabs-icon col s12 m8 l7 xl7">
        <li id="converter" class="tab col" (click)="setActive($event)"><a [routerLink]="['/currency-converter']">CURRENCY CONVERTER</a></li>
        <li id="history" class="tab col" (click)="setActive($event)"><a [routerLink]="['/view-history']">VIEW CONVERSION HISTORY</a></li>
      </ul>
      <div class="col l2 xl2 header-panel" *ngIf="auth.isLoggednIn()">
        <a [routerLink]="['/login']" (click)="auth.logout();" title="Logout" class="btn-logOut">LOGOUT</a>
      </div>
    </div>
  </div>
</header>