// header{
//     height:70px;
//     box-shadow: -3px 1px 11px 5px rgba(0,0,0,0.25);
//     background-color: white;
// }
@import '../../../sass/variables';
header{
    background-color: #ffffff;
}
.header-panel{
    columns: $primary;
    padding: 5px 0;
}
.logo-brand > a{
    padding-top: 10px;
    padding-bottom: 7px; 
    display: inline-flex;
    vertical-align: middle;
}
.logo-brand a > span{
    display: table-cell;
    vertical-align: middle;
}
.logo-brand .material-icons{
    color: $primary;
}
.logo-brand .logoContent{
    color: #404040;
}
.btn-logOut{
    color: $primary;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    text-align: center;
}
.tab{
    a{
        text-transform: none;
    }
    span{
        i{
            color: $primary;
        }
        display: inline-flex;
        vertical-align: middle;
    }
}

.tab.active{
    border-bottom: 2px solid $primary !important;
}


