<div class="row">
  <div class="col">
    <h3 class="page-title">I want to convert</h3>
  </div>
</div>
<div class="row converter-input-holder">
  <form name="form" #currencyConverter="ngForm" autocomplete="off" (ngSubmit)="currencyConverter.form.valid && convert()"
    #f="ngForm" novalidate>

    <div class="input-field col s12 m6 l2 xl2">
      <input numberOnly id="amount" name="amount" #amount="ngModel" mz-input type="text" [(ngModel)]="_conversion.amount"
        required />
      <label for="amount">Amount</label>
      <div *ngIf="f.submitted && amount.invalid" class="invalid-feedback">
        <div *ngIf="amount.errors.required" class="helper-text">Amount is required</div>
      </div>
    </div>

    <div class="input-field col s12 m6 l4 xl4">
      <input id="from" name="fromCur" #fromCur="ngModel" mz-input type="text" [(ngModel)]="_conversion.from"
        (change)="onFromChange($event)" [autocomplete]="currencies" required />
      <label for="from">From</label>
      <div *ngIf="f.submitted && fromCur.invalid" class="invalid-feedback">
        <div *ngIf="fromCur.errors.required" class="helper-text">From is required</div>
      </div>
    </div>

    <a class="waves-effect waves-teal btn swap-btn col s12 m6 l1 xl1" (click)="swapCurrency()"><i class="material-icons compare_arrows">compare_arrows</i></a>

    <div class="input-field col s12 l4 xl4">
      <input id="to" name="toCur" #toCur="ngModel" mz-input type="text" [(ngModel)]="_conversion.to" (change)="onToChange($event)"
        [autocomplete]="currencies" required />
      <label for="to">To</label>
      <div *ngIf="f.submitted && toCur.invalid" class="invalid-feedback">
        <div *ngIf="toCur.errors.required" class="helper-text">To is required</div>
      </div>
    </div>

    <div class="input-field col s12 l1 xl1 ">
      <button class="waves-effect waves-light btn">CONVERT</button>
    </div>
  </form>
</div>
<div class="row">
  <app-exchange-rate [amount]="totalunit" [fromVal]="fromValue" [toVal]="toValue" [fromCur]="fromCurrency" [toCur]="toCurrency"></app-exchange-rate>
</div>
<div class="row">
  <app-exchange-history [fromCur]="fromCurrency" [toCur]="toCurrency"></app-exchange-history>
</div>
<div class="divider"></div>