@import '../../../sass/variables';

.display-conversion-container{
    text-align: center;
    margin-top:10px;
    .main-conversion{
        font-size: $page_title_font !important;
        .expecting-price{
            font-weight: bold;
            color: $accent;
        }
    }
}