<div class="row">
  <div class="col s12 m12 l12 xl12">
    <h3>Conversion history</h3>
    <div>
      <div class="card">
        <div class="card-content">
          <div *ngIf="(viewedConversions$ | async)?.length==0" class="empty-card">
            No history found!
          </div>
          <table *ngIf="(viewedConversions$ | async)?.length>0">
            <thead>
              <tr>
                <th>Date</th>
                <th>Event</th>
                <th class="action-header">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cnvrsn of viewedConversions$ | async;let i = index;">
                <td>{{cnvrsn.date}}</td>
                <td>Converted an amount of {{cnvrsn.amount}} from {{cnvrsn.from}} to {{cnvrsn.to}}</td>
                <td class="actions">
                  <a class="waves-effect waves-teal btn-flat" (click)="viewHistory(i)"><i class="material-icons remove_red_eye">remove_red_eye</i>View</a>
                  <a class="waves-effect waves-red btn-flat modal-trigger" data-target="confirmModal" (click)="selectedIndex=i;"><i
                      class="material-icons delete_forever">delete_forever</i>Delete from history</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <h4>Delete history</h4>
      <p>Are you sure you want to delete this item?</p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-light btn grey lighten-1 cancel-btn">Cancel</a>
      <a class="modal-close waves-effect waves-light btn red" (click)="deleteHistory(selectedIndex)">Delete</a>
    </div>
  </div>
</div>