//Colors
@import './sass/variables';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background-color: #efefef;
    font-size: $regular_font !important;
    color:$default_text;
}
   
h1,h2,h3,h4,h5,h6{
      font-weight: bold;
}

.helper-text{
    color:$warn !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(178, 246, 218, 0.2);
}
.tab a {
    color: $table_header_text !important;
}

.tab a.active {
    color: $default_text !important;
}

.tabs .indicator{
    background-color: $primary !important;
}

.page-title{
    font-family: 'Roboto Bold', Roboto, Arial, sans-serif !important;
    font-size: $page_title_font !important;
}

.section-title{
    font-family: 'Roboto Bold', Roboto, Arial, sans-serif !important;
    font-size: $section_title_font !important;
}

//override table style
tr{
    td{
        padding: 10px 15px;
    }
    th{
        padding: 15px;
        color: $table_header_text;
    } 
}
.empty-card{
    padding: 15px;
}